.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;

  color: #111;
}
