@import "@/scss/utils";
@import "@/scss/import/post_content";

.container {
  padding-top: 60px;
  background-color: $bg-color;
}

.inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;

  .-list & {
    max-width: 900px;
  }
}

.project_list {
  margin-top: 20px;
}

.title_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.project_title {
  font-size: 35px;
  margin: 26px 0;
}

.view_badge {
  width: auto;
  height: auto;
}

.project_description {
  font-size: 16px;
  line-height: 20px;
  margin: 16px 0;
}

.demo_title {
  font-size: 23px;
  margin: 20px 0;
}

.ifram_wrap {
  position: relative;
  aspect-ratio: 16/9;
}

.iframe {
  position: absolute;
  aspect-ratio: 16/9;
  margin-left: 50%;
  transform: translateX(-50%) scale(0.5);
  top: -50%;
  border: 0;
}

.post_content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 23px 0;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 23px;
  }

  p {
    font-size: 16px;
    line-height: 20px;
    margin: 16px 0;
  }

  :global(.youtube) {
    position: relative;
    display: block;
    aspect-ratio: 16/9;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    &::before {
      @include positionAll;

      content: "";
      background-color: rgba(0, 0, 0, 0.5);
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      background: no-repeat url("./assets/button_play.png") 0 0 / contain;
      width: 100px;
      height: 100px;
      transform: translate(-50%, -50%);
    }

    img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
    }
  }
}
