@import "@/scss/utils";
@import "@/scss/import/post_content";

.container {
  padding: 80px 20px;
  min-height: 100vh;
  box-sizing: border-box;

  &.-list {
    background-color: $bg-color;
  }
}

.inner {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;

  .-list & {
    max-width: 900px;
  }
}

.project_list {
  margin-top: 20px;
}

.ifram_wrap {
  position: relative;
  aspect-ratio: 16/9;
}

.iframe {
  position: absolute;
  aspect-ratio: 16/9;
  margin-left: 50%;
  transform: translateX(-50%) scale(0.5);
  top: -50%;
  border: 0;
}
